.se-add{
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
    gap: 15px;
}
.header{
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}
.form-check{
    border: 1px solid white;
    margin: 0;

}